$primary-color:#1E7072;
$secondary-color:#567E97;
$third-color:#978EC1;
$nav-color:#414848;

$primary-color-contrasted:#3E7887;
$secondary-color-contrasted:#7285A9;

$third-color-vivified:#E2A0F2; 

$primary-color-hover:#144849;

